[Unit]
Description=TelebotApp
After=network.target

[Service]
User=art
Group=art
WorkinDirectory=/home/art/telebot/
Environment="PYTHONPATH=/home/art/telebot/"
Environment="PYTHONIOENCODING=utf-8"
ExecStart=/home/art/telebot/.venv/bin/python /home/art/telebot/bot/main.py

[Install]
WantedBy=multi-user.target